[2014-01-05 15:31] gavanderhoorn opened #3 "m20ia: error loading IKFast plugins in devel space (xml does not exist)"
As per subject: when loading the M-20iA MoveIt config the IKFast plugin xml files cannot be found (but only in devel space).

[2014-01-05 15:36] #3 closed, assigned to gavanderhoorn

[2014-01-09 10:34] gavanderhoorn opened #4 "Architecture independent packages are not marked as such"
As per subject. This would cause the buildfarm to build these packages _N_ times for _N_ architectures, while one package would work for all.

[2014-01-09 11:09] #4 closed, assigned to gavanderhoorn

[2014-01-20 20:06] gavanderhoorn opened #5 "Update MoveIt cfgs to Hydro"
All MoveIt configuration packages have been generated using the Groovy MoveIt setup assistant. All MoveIt cfg packages should be updated using the newer Hydro version of MoveIt.
- [x] LR Mate 200iC
- [x] LR Mate 200iC/5H
- [x] M-10iA
- [x] M-16iB/20
- [x] M-20iA
- [x] M-20iA/10L
- [x] M-430iA/2F
- [x] M-430iA/2P

[2014-01-23 10:02] gavanderhoorn commented on #5
According to Dave Hershberger the changes might be minor, see [this post](https://groups.google.com/d/msg/moveit-users/zZaV0Htg-6I/fWbdZZ2qETgJ) on the MoveIt Users mailinglist.

[2014-01-27 18:19] gavanderhoorn opened #6 "moveit_plugins: catkin pkgs are incorrectly listed as depends (instead of catkin_depends)"
This is / was a bug in the `moveit_ikfast` package generation templates.

[2014-01-27 18:23] #6 closed, assigned to gavanderhoorn

[2014-01-28 18:49] dirk-thomas opened #7 "fanuc_m10ia_moveit_config has not existing dependency"
The CI job http://jenkins.ros.org/job/devel-hydro-fanuc_experimental/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/3/console fails because of the missing dependency on `fanuc_m10ia_support`.

[2014-01-28 19:51] gavanderhoorn commented on #7
The package `fanuc_m10ia_support` is part of the `fanuc` repository. So it isn't in the same repository, but it does exist. AFAIU I cannot express that dependency in a devel job, am I wrong?

[2014-01-28 22:39] dirk-thomas commented on #7
If the `fanuc` repository is not released it is not possible to run integration tests for packages depending on it since all dependencies must be installable from Debian.

If you don't plan to release the dependencies from the `fanuc` repository in the near future it would probably be best to remove the `fanuc_experimental` repository from the CI farm since it will always fail.

[2014-01-28 23:41] shaun-edwards commented on #7
@gavanderhoorn, we are pretty close to a release, but if you want I can add a fanuc specifc job to the ros-i jenkins build server.

[2014-01-28 23:45] dirk-thomas commented on #7
It's ok if you are going to release it sometime in the future. We just try to either get the jobs working or ditch them from the farm.

[2014-02-04 17:46] gavanderhoorn commented on #7
@dirk-thomas: we are going to release the `fanuc` package, but I think I'll disable the CI builds for `fanuc_experimental` for now. We can do them on the ROS-I jenkins server.

[2014-02-04 17:46] gavanderhoorn opened #8 "Disable CI builds for now"
They're failing due to the `fanuc` package not having been released yet.

[2014-02-04 17:52] gavanderhoorn opened #9 "moveit_plugins: catkin pkgs incorrectly listed as system deps"
See ros-industrial/ros_industrial_issues#21.

[2014-02-04 17:54] gavanderhoorn commented on #9
Already fixed, see #6.

Must've been late..

[2014-02-04 17:54] #9 closed, assigned to gavanderhoorn

[2014-02-04 17:58] dirk-thomas commented on #7
As you wish.

[2014-02-04 18:15] gavanderhoorn commented on #8
Fixed in ros/rosdistro@f74fb722.

[2014-02-04 18:15] #8 closed, assigned to gavanderhoorn

[2014-02-04 18:17] gavanderhoorn commented on #7
Closing. See #8.

Will re-enable as soon as `fanuc` has been released.

[2014-02-04 18:17] #7 closed, assigned to gavanderhoorn

[2014-02-07 07:27] gavanderhoorn commented on #5
Include fix for ros-industrial/ros_industrial_issues#22 in this.

[2014-02-10 11:11] gavanderhoorn opened #10 "moveit_cfgs: missing run_depend on industrial_robot_simulator"
See ros-industrial/ros_industrial_issues#23.

[2014-02-10 11:38] #10 closed, assigned to gavanderhoorn

[2014-02-10 11:39] gavanderhoorn commented on #5
Includes fix for missing `run_depend` on `industrial_robot_simulator` (#10).

[2014-04-18 16:12] gavanderhoorn opened #11 "all: migrate pkgs to resources pkg (from assets)"
As needed.
- [x] LR Mate 200iC
- [x] LR Mate 200iC/5H
- [x] LR Mate 200iD
- [x] M-20iA
- [x] M-20iA/10L

[2014-04-18 16:21] #11 closed, assigned to gavanderhoorn

[2014-05-17 16:46] gavanderhoorn opened #12 "moveit_plugins: build fails on fresh (R)OS install: missing FindEigen"
fi `fanuc_lrmate200ic_moveit_plugins` does not list `cmake_modules` as a `build_depend`, causing `rosdep` to not install it.

Related to ros-planning/moveit_ikfast#27?

[2014-05-19 06:01] gavanderhoorn commented on #12
This seems to be even worse on Indigo: `cmake_modules` also needs to be listed in the `find_package(CATKIN ..)` statement, otherwise it won't work.

[2014-05-28 07:08] gavanderhoorn commented on #5
Done.

[2014-05-28 07:08] #5 closed, assigned to gavanderhoorn

[2014-05-28 13:47] #12 closed, assigned to gavanderhoorn

[2015-05-17 08:09] gavanderhoorn opened #13 "lrmate200ib_support: roslaunch tests failing"
See [devel-hydro-fanuc_experimental/20](http://jenkins.ros.org/job/devel-hydro-fanuc_experimental/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/20/changes).

[2015-05-17 08:10] #13 closed

[2016-01-11 14:21] gavanderhoorn opened #15 "Add travis config."
As per subject.

[2016-02-05 12:52] #15 closed

[2016-02-25 13:51] swezap opened #16 "lrmate200id: Wrong coordinate system"
The axis definition of joint 6 in lrmate200id_macro.xacro is wrong so that joint 6 rotates in the wrong direction. It is currently `<axis xyz="1 0 0"/>` but should be `<axis xyz="-1 0 0"/>`.

[2016-02-25 13:53] gavanderhoorn commented on #16
Thanks for reporting. I generally check these things rather thoroughly, but it's certainly possible that I slipped up here.

I'll check and fix it if necessary.

[2016-02-25 13:53] gavanderhoorn commented on #16
And this is exactly the reason we have this package in the `experimental` repository :).

[2016-02-25 15:17] #16 closed

[2016-02-25 15:21] gavanderhoorn commented on #16
You were right. I checked against the manual and inverted the rotation direction of axis 6.

thanks again.

[2016-05-02 12:26] VictorLamoine opened #17 "Mismatch for axis 3 in R-1000iA"
On the teach pendant:
[code]

Using `robot_state_visualize` (indigo-devel branch):
[code]

`-0.035214900970458984 rad` = `-2.017 deg`

[2016-05-02 12:31] gavanderhoorn commented on #17
With such a difference I would expect the robot in RViz to be in a radically different pose compared to the real robot. Have you observed that as well?

[2016-05-02 12:33] VictorLamoine commented on #17
No the robot is at the right place!

![capture du 2016-05-02 14 34 14](https://cloud.githubusercontent.com/assets/5566160/14954490/12600b3a-1073-11e6-841d-7a4ecdd418bf.png)

![dsc_0003](https://cloud.githubusercontent.com/assets/5566160/14954561/aa984a66-1073-11e6-856c-87a976e70b3d.JPG)

[2016-05-02 12:36] gavanderhoorn commented on #17
This is caused by the J2-J3 linkage Fanucs have. If I do `J3 - J2` for your values, I get `-0.035.. - 0.546.. = -0.581..`. In degrees, that is `-33.342..`.

[2016-05-02 12:39] gavanderhoorn commented on #17
Some controllers / software versions allow you to enable a display item that shows you the J2-J3 linkage value (or something, can't remember what it is called exactly). That should show you the difference as well.

[2016-05-02 12:51] gavanderhoorn commented on #17
good :) I tend to test these things quite rigorously, but it's always possible I made a mistake, obviously.

A `rosrun tf tf_echo base tool0` is also a good test. That should correspond to the TCP's coordinates in the `World` frame.

[2016-05-02 12:51] VictorLamoine commented on #17
Yes I have J2/J3 interaction showing the right value (the one displayed in `rostopic echo`)

[2016-05-02 12:53] gavanderhoorn commented on #17
Closing then as a `works-for-me`.

[2016-05-02 12:53] #17 closed

[2016-05-02 13:25] VictorLamoine commented on #17
It works fine with `rosrun tf tf_echo base tool0`, I get the right pose.

I realized that when ~~using the [caljob_creator](https://github.com/ros-industrial/industrial_calibration/tree/hydro-devel/caljob_creator) which records (false in my case) joint values to create calibration poses.~~ copying joint values from `rostopic echo` to the `caljob.yaml` file.
When executing the recorded poses, the r

[2016-05-02 13:28] gavanderhoorn commented on #17
How are you 'executing the recorded poses'? Trajectories going through the `motion_streaming_interface` in `fanuc_driver` should have their `JointTrajectoryPoint`s updated so as to take the J2-J3 coupling into account. In all cases the robot should then go to the correct pose (as long as the `J23_factor` parameter is set correctly).

[2016-05-02 13:31] VictorLamoine commented on #17
The node parsing the YAML file is giving that to an other node executing the trajectory for me :smile:
I think it's https://github.com/ros-industrial/industrial_calibration/blob/hydro-devel/industrial_extrinsic_cal/action/robot_joint_values_trigger.action

I just made the small calculation (addition) to the joint values and everything works well now :+1:

[2016-05-02 13:34] gavanderhoorn commented on #17
I'm not entirely sure how the `caljob_creator` works, but it should never be necessary to compensate for the J2-J3 coupling _outside_ the nodes in `fanuc_driver`. If you find you need to, then something is wrong and I'd like to fix it.

[2016-05-02 13:38] VictorLamoine commented on #17
`caljob_creator` creates a YAML file that store poses for the extrinsic calibration.
You run this node, move your robot to poses that looks good for the calibration and record these poses.

At the end you get a .YAML file that looks like that:

[code]

I wanted to edit some poses because I was too close to the target.
So I moved the robot manually to the pose number 3 and, got away from the target

[2016-05-02 13:52] gavanderhoorn commented on #17
Ah now I understand you.

I think this is unfortunately something that isn't really 'fixable': the Fanuc TP will show you the angle J3 is making _including the J2/J3 interaction_. ROS however will always want the angle J3 is making wrt J2. This cannot include the J2/J3 interaction, as then it's essentially the angle J3 makes wrt the `base` frame, not wrt J2. So the driver removes the contribution

[2016-05-02 13:57] VictorLamoine commented on #17
Ok then I'll do with it, it's no big deal, the big red button on the teach is not useless.. :wink:

Yes I just fixed the `joint_values` yaml array by doing the math.
Glad to hear I'm not doing things crazy :)

[2016-05-02 14:03] gavanderhoorn commented on #17
I think I'll add an entry to the [Troubleshooting](http://wiki.ros.org/action/show/fanuc_driver/Troubleshooting) page about this.

Thanks for bringing this (ie: the non-obviousness of it) to my attention.

[2016-05-02 14:04] gavanderhoorn commented on #17
Related ROS Answers question btw: [Strange behaviour from joint_trajectory_action to ABB robot](http://answers.ros.org/question/226402/strange-behaviour-from-joint_trajectory_action-to-abb-robot/).

[2016-06-04 11:43] gavanderhoorn opened #18 "cr35ia: update colours to match the 'collaborative green' styling"
CR-35iA introduced in 82951cba is current 'fanuc yellow', but it needs to be green (the new yellow).

[2016-06-04 16:59] #18 closed

[2016-07-06 15:38] wkentaro opened #22 "inertial values for fanuc_lrmate200id"
I'd like to use fanuc_lrmate200id on gazebo, but it requires setting inertial value on urdf file.
Are there any data sheets for this?

[2016-07-06 17:22] gavanderhoorn commented on #22
No. Fanuc (like many other industrial robot manufacturers) considers that kind of information a trade secret (similar to maximum torques, link masses, etc). You won't find it in any datasheet.

Some alternatives:
- [gazebosim.org - Inertial parameters of triangle meshes](http://gazebosim.org/tutorials?tut=inertia&cat=build_robot)
- [URDF link mass inertia properties](http://answers.ros.org/questio

[2016-07-07 15:45] gavanderhoorn commented on #22
Seeing as this is not really an issue with the packages in this repository, I'm inclined to close this.

Would you agree @wkentaro?

[2016-07-08 02:47] wkentaro commented on #22
Yeah, thanks.

[2016-07-08 02:47] #22 closed

[2017-02-17 12:11] VictorLamoine opened #27 "M-710iC axis 6 reversed"
I'm pretty sure that the M-710iC robot definition is wrong because axis 6 is reversed.

The following RViz captures are connected to the real robot with  `ROSSTATE`

Axis 6 = 0°
===
![0_deg](https://cloud.githubusercontent.com/assets/5566160/23064805/7622352e-f512-11e6-840b-17637fed7031.jpg)
![0_deg_rviz](https://cloud.githubusercontent.com/assets/5566160/23064806/7792719e-f512-11e6-9593-5bf390069

[2017-02-17 12:12] VictorLamoine commented on #27
Fetched value from `/joint_states` corresponds to the value I read on the teach pendant so the problem must be that the axis is reversed in the XACRO/URDF definition of the robot.

[2017-02-17 12:12] VictorLamoine commented on #27
This obviously does not help with the sensor calibration :smile:

[2017-02-21 16:33] gavanderhoorn commented on #27
no, it certainly doesn't.

Thanks for noticing.

[2017-02-21 16:36] #27 closed

[2017-02-21 16:37] gavanderhoorn commented on #27
And thanks for the fix.

Nice cell model btw.

[2017-05-10 17:49] hugols16 opened #29 "Getting 'Connection Refused' when sending joint positions through MoveIt"
I configured the new FANUC LR Mate 200iD with the required Karel and TP programs, and am able to run the program and connect to it using the experimental files from the ROS-Industrial fauna repository. When running ```roslaunch fanuc_lrmate200id_moveit_config moveit_planning_execution.launch sim:=false robot_ip:=IP_OF_ROBOT``` Rviz opens with the proper configuration and I can echo the joint posit

[2017-05-18 05:23] #29 closed

[2017-06-23 18:36] cvanclee opened #30 "Can't move robot using IKFast for fanuc_lrmate200id"
I'm opening moveit setup with

and clicking edit existing package. I load fanuc_lrmate200id_moveit_config. Then I click Planning Groups, then manipulator, then edit selected, and choose fanuc_lrmate200id_manipulator_kinematics/IKFastKinematicsPlugin for the Kinematic Solver. I then press Save, go to Configuration Files, and hit Generate Package. I run catkin_make, and open RViz with

which results

[2017-06-23 18:42] gavanderhoorn commented on #30
Can you tell me why you edit the MoveIt configuration? The IKFast plugin is generated code, and cannot be used with anything but the original chain that it was generated for.

Please see [Tool0 URDF Modifications Break Path Planning](http://answers.ros.org/question/256429) for a (probably) related ROS Answers Q&A.

[2017-06-23 18:59] cvanclee commented on #30
I edited the configuration to add a tool to the end of the robot. I made a link_7 and a joint_7. Joint_7 is connected via link_6 and link_7. Then I connected link_7 to tool0. To keep the baselink->tool0 rule, should I instead connect tool0-link7 for joint_7? Thanks for the help

[2017-06-23 20:16] gavanderhoorn commented on #30
No, I'm afraid you can't change the `base_link->tool0` chain, or the IKFast plugin won't work any more.

I would also not recommend to introduce a `joint_7` or a `link_7`, as it seems like something that can become confusing (seeing as all the links and joints in the robot model are named in that fashion).

If you need a toolframe, I recommend making it a child of the `flange` frame that was recen

[2017-06-26 12:11] cvanclee commented on #30
I cloned the latest version of fanuc_experimental to get the flange updates. So, just to be clear, I should make a new link for my tool, then make a new joint with the parent link as flange and the child link as my tool? If so, thanks for the help!

[2017-06-26 12:46] gavanderhoorn commented on #30
@cvanclee wrote:

yes, you could do that yes.

But make sure to give your tool frame the correct orientation: `flange` follows ROS conventions, so x+ is forward. Tools on Fanucs have z+ forward, which requires the `pi -pi/2.0 0` rotations that the `tool0` joint has.

And note that you still cannot use the IKFast plugin with your new tool, unless you setup MoveIt properly *or* manually transform po

[2017-06-26 12:51] #30 closed

[2017-06-30 12:54] cvanclee opened #31 "Lrmate200id attempting to move physical robot"
I'm trying to connect the physical lrmate200id to my computer and issue commands to it. I'm running the command

`roslaunch fanuc_lrmate200id_moveit_config moveit_planning_execution.launch sim:=false robot_ip:=10.0.0.93`

which results in the error

`[FATAL] [1498826383.877209818]: Parameter '~moveit_controller_manager' not specified. This is needed to identify the plugin to use for interacting wi

[2017-06-30 12:59] gavanderhoorn commented on #31
You've mentioned earlier that you've re-run the MoveIt Setup Assistant for the `fanuc_lrmate200id_moveit_config` package. It's very likely that you overwrote certain files at the end which configured the MoveIt package for use with real hardware.

This should be relatively trivial to check if you've still got things in a git repository. Just check your history.

that makes sense, as that is the re

[2017-06-30 13:23] cvanclee commented on #31
Yup, fanuc_lrmate200id_moveit_controller_manager.launch.xml was empty. I should have noticed that before. Thank you!

[2017-06-30 13:25] gavanderhoorn commented on #31
Could you please close the issue if you feel it has been resolved?

[2017-06-30 13:25] #31 closed

[2017-07-14 13:16] cvanclee opened #32 "Connection problems with the fanuc_lrmate200id"
I'm having connection issues while connecting my laptop running ROS/MoveIt to the physical robot to run movement commands. I'm not sure whether I've configured something wrong or there is a network issue. Attempts to connect to the physical robot only go through about 1/3 of the time, and there's a small chance I'll get disconnected while running my movement commands. Sometimes the robot seems to

[2017-07-14 13:28] gavanderhoorn commented on #32
This definitely looks like a network issue.

Are you using a wireless connection by any chance? If so, try with a wired one.

[2017-07-14 13:29] gavanderhoorn commented on #32
PS: could I ask you to open issues about `fanuc` pkgs over at `ros-industrial/fanuc`'s issue tracker btw? I try to keep things centralised, and this repo is just for storage of packages.

We can keep this one open for now, but please keep it in mind next time.

Thanks.

[2017-07-14 13:33] cvanclee commented on #32
I tried switching to a wired connection, it results in the same issues. Might it better to talk to my network managers about this? Sorry, I didn't realize that belonged in the fanuc issues

[2017-07-14 13:44] gavanderhoorn commented on #32
Assuming that the software has not changed, it would seem likely that this is a network issue. If possible, try different network cables (both between you and the network, and between the controller and the network), or even a direct connection (also with different cables).

From the errors on the TP, it looks like connections are dropping (`67211` and `67212` are `HOST-211` and `HOST-212`, `Conne

[2017-07-14 13:48] cvanclee commented on #32
I'll try a direct connection between by laptop and the robot, my cable is definitely good. If that works, I'll assume its a network issue and talk to the network managers. Thanks!

[2017-07-14 13:48] #32 closed

[2017-07-26 11:22] jettan opened #34 "Collision meshes of LR 200id too restrictive."
The current collision meshes of the LR mate 200id are too restrictive.
In particular, I'm talking about the mesh for link2.
Link 2 is supposed to have a bigger opening such that link 4 is partly inside of the current link 2 collision mesh (example of such a joint configuration in radians: [0, 0.3, -1, 0, 1.3, 0]).

[2017-07-26 11:29] gavanderhoorn commented on #34
Take a look at ros-industrial/kuka_experimental#59, which is basically the same problem, but for KUKA Agilus KR6 and KR10.

See ros-industrial/kuka_experimental#76 for a PR that addressed that issue.

You could probably improve the collision mesh for `link_2` using the `bounding_mesh` tool mentioned in the PR.

[2017-07-26 12:02] jettan commented on #34
Thanks, I managed to get the bounding_mesh tool to work. Will make a PR after I tested tomorrow whether the bounded mesh of link2 works and/or whether I need to also change link3/4.

[2017-08-08 15:13] gavanderhoorn commented on #34
@jettan: did your collision meshes work better?

[2017-08-08 15:24] jettan commented on #34
Yes it did, but I am hesitant to make a PR because it might be too lax (or the robot I am working with isn't mastered very accurate). The only replacement I needed in collision mesh was as you suggested link_2.

[2017-10-04 20:08] gavanderhoorn commented on #17
@VictorLamoine: bit late, but I've added an entry to the FAQ about J2/J3 interaction. See ros-industrial/fanuc#186.

[2018-04-15 08:58] #34 closed

[2018-05-25 14:04] javiersolorzano opened #38 "lrmate200id Motion Planning issues"
I am having issues with moving my fanuc lrmate 200id with code. I can use the gui in rviz and move the six axis ball which gives me the coordinates and orientation. If i then put those same exact coordinates to compute a Cartesian path. I get multiple errors and warnings.

[code]

A few observations I've made, the planner seems to take a longer path when using RViz, and it tries to plan to a short

[2018-05-25 17:16] gavanderhoorn commented on #38
I don't think I have enough information to help you.

Are you using any particular setup? Just the plain `lrmate200id` robot in empty space? Something else?

I can only think of one thing to check for now: do you run into the same error with another robot model?

[2018-05-25 18:02] jav-solo commented on #38
No I’ve added a collision in the xacro that represents the table that the current robot is on.

I have not tried to use it with any other robot models.

Some observations I’ve made:
When I use RViz to motion plan and I select random valid, it gives me invalid poses all the time and it gives me the same warning and errors, just not quite as many.

I am using the IKFast plugin and RRTConnect as my d

[2018-05-25 18:03] gavanderhoorn commented on #38
@javiersolorzano wrote:

I think it would help if you could show me how you did that (ie: upload your package to github or a gist).

This could be a faulty setup of your xacro / environment modelling. Is the robot colliding with the geometry you added? It sounds like something is seriously wrong.

[2018-05-25 18:58] jav-solo commented on #38
@gavanderhoorn

[code]

This is all that I changed in the macro.

More often than the table the robot is also in self collision which prevents planning.

[2018-05-25 19:49] gavanderhoorn commented on #38
Two comments:

 1. it shouldn't matter, but I'd recommend to create a separate "work cell" xacro/urdf in which you combine your table and the robot model. Don't put work cell models into the base robot xacro macro. It's not very nice and reduces reusability of the robot macro.
 1. it seems strange (but again, might not be important) that the robot `base_link` is the `parent` of the `table`. I'd ex

[2018-05-25 22:50] jav-solo commented on #38
Well, I had made the table the parent link but would get a warning and sometimes an error because it did not  match the the base frame in the Moveit! config. Also, I remember trying to remove the table and observed that it still had the same issues as before.

I will try to remove it and see again. Would there be any other reason? I will move the actual robot to specific coordinates I read from RV

[2018-05-25 23:17] jav-solo commented on #38
I removed the table and now the random valid seems to work. How can I add the table without affecting the collision awareness of the robot?

Also, moving via code still was unsuccessful. This time I tried using geometry_msgs::Pose to move it to a known possible position and I received this error:

[code]

[2018-05-26 09:58] gavanderhoorn commented on #38
@javiersolorzano wrote:

Did you re-run the MoveIt Setup Assistant after adding the new geometry? If you didn't, the allowed collision matrix would not be updated.

I can see if I can reproduce your issue later today, but that may take while. In general I have the idea that something is out of sync or not updated properly and then leads to MoveIt/OMPL not being correctly setup, leading to your iss

[2018-05-26 10:00] gavanderhoorn commented on #38
But in general my advice would still be to create a separate work cell xacro macro, `include` the robot macro file, instantiate it and add the table there. Consider the robot xacro as read-only.

You also cannot change the kinematic chain, or you'll run into things like #30. That is a consequence of how IKFast plugins work.

[2018-05-26 12:31] jav-solo commented on #38
@gavanderhoorn wrote:

No, I did not ever run it with the table which now make a lot of sense as to why it would be in collision.

@gavanderhoorn wrote:

I have only tried to move the robot similar to the ways done in the Moveit! tutorials. (using positions and orientations that I know are within the limits of the robot) Example:
`
geometry_msgs::Pose target_pose1;
target_pose1.orientation.w = 1.0

[2018-05-28 13:49] jav-solo commented on #38
@gavanderhoorn

I reran the setup assistant and it seemed top eliminate the random valid option. I will continue testing with the actual robot this week and let you know if I run into more issues. Thanks!

[2018-05-28 15:56] gavanderhoorn commented on #38
Ok, good to hear that got cleared up.

I'm closing this for now, as I don't expect the fact that you're going to use a real robot is going to influence things very much.

If you encounter the same issue, please re-open.

[2018-05-28 15:56] #38 closed

[2018-05-28 17:16] jav-solo commented on #38
@gavanderhoorn

Thanks for your help, I just tested it out on the actual robot and everything seems resolved. I do have one more question, I have turned the speed all the way up on the robot to 100% via the Karel variables. Is there something else I can do/check to increase the speed? Also does the kinematics solver or the planner increase the velocity of the planned path?

[2018-05-29 07:01] gavanderhoorn commented on #38
No, most likely not. Fanuc robots are extremely limited in the ways they can be controlled externally, and the driver uses one particular approach that does not result in very good motion performance. You could see whether [fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp) performs any better for you (if you're not already using it), but I don't expect it.

gavanderhoorn/fanuc_d

[2018-05-29 07:02] gavanderhoorn commented on #38
Another thing to keep in mind is that industrial controllers don't do very well with dense trajectories. That is also true when executing motions using hard-coded, off-line generated programs (ie: TP programs for Fanuc).

Sparser trajectories generally work better and will result in faster motion.

[2018-05-30 13:11] jav-solo commented on #38
Everything is working fine, thank you for your help!

[2018-10-31 15:19] gavanderhoorn opened #41 "Re-enable travis integration once migration to the new system is available"
Travis has announced they're migrating everyone to their `.com` domain -- and we should all start using their Github App.

In an effort to get migration for this repository going, Travis integration (the old, services based, one) was removed, but migration to the new system is not available yet for `fanuc_experimental`.

This is a reminder to setup Travis again if/when the migration becomes possib

[2019-09-17 10:19] jediofgever opened #46 "Correct implementation of URDF for LR MATE 200iD/7L"
Hello ,
I am using this repository to control fanuc robot. I have found out that the position of end-effector is different in move_group and original robot data. In the below picture at right hand-side I get the end effector pose with ;
` move_group.getCurrentPose().pose;`
end show it for debugging. Although the rotations seems to match  the positions are off the real robot data.
![image](https://

[2019-09-17 11:31] gavanderhoorn commented on #46
which makes sense, as the LR Mate 200iD/7L is a different robot variant than the base 200iD that is supported by `fanuc_lrmate200id_support`. You cannot use that package with `/7L`s directly.

It would be best to add proper support for the `/7L` variant to `fanuc_lrmate200id_support`.

Copy the `.xacro` and `_macro.xacro` to new files (follow the same convention as the existing files), and update

[2019-09-17 12:50] jediofgever commented on #46
Hi @gavanderhoorn ,
I have tried to change the link lengths according to robot specification  but I am still unable to get same results, changing contents of below file should be sufficient to quickly see the effect on results
https://github.com/ros-industrial/fanuc_experimental/blob/indigo-devel/fanuc_lrmate200id_support/urdf/lrmate200id_macro.xacro
The edited file is in the gist below ;
https://

[2019-09-17 12:51] gavanderhoorn commented on #46
It's difficult for me to see exactly what you changed. If you would create a fork and commit your changes to your fork github would render the differences easily recognisable.

[2019-09-17 12:52] jediofgever commented on #46
Thank you , I will do that ASAP I got my computer

[2019-09-17 12:54] gavanderhoorn commented on #46
Please also note that only the `base->tool0` transform in the urdf corresponds to what the Fanuc controller reports when you ask it for the robot's TCP coordinates in the `World` frame.

Going from `base_link->tool0` will give you a different transform.

[2019-09-18 00:37] jediofgever commented on #46
Yes I am aware of this, but in that case one will expect the difference to be only in z-axis(about 330 mm) while x and y must be same as controller report of TCP

[2019-09-18 01:31] jediofgever commented on #46
@gavanderhoorn
the change is in this [commit](https://github.com/jediofgever/fanuc_experimental/commit/f49dc732c54973203d322c0dfa45c128cabc54ba),
I referenced to picture above to update link lengths

[2019-09-18 02:33] jediofgever commented on #46
Turns out that the tool frame which is set up in controller is different than the one specified in the URDF file those I see irrelevant numbers on x-y values, after resetting the tool frame in controller to zeros(as in URDF file) x and y values matches while z values have 330 difference .

which explains 330 difference
Thank you for your help

I have a little bit confusion at this point, when we s

[2019-09-18 06:05] gavanderhoorn commented on #46
Those seem like the correct link lengths.

You'll want to update the meshes as well.

yes, that would cause these differences.

the driver only supports joint space trajectory points right now, so any user or toolframes on the controller's side will not affect motion.

As to planning in a specific frame on the MoveIt side: you'll have to make sure to import those frames into your application someh

[2019-09-18 06:06] gavanderhoorn commented on #46
As this is not an actionable item -- unless you want to contribute support for the `/7L` variant -- I'm going to close this issue.

If you feel this is incorrect, please clarify and we can re-open.

[2019-09-18 06:06] #46 closed

[2019-09-18 13:13] jediofgever commented on #46
I am creating the required 3 packages for 7L model following the same convention in fanuc_experimental for lrmate_200id , everything seems fine except the controller, i will do some more debugging on that, I can send a pull request for adding 7L support, are you planing to contain 7L in this repository ?

[2019-09-18 13:14] gavanderhoorn commented on #46
3 packages? As the `/7L` is only a *variant*, I would expect *additions* to the current `fanuc_lrmate200id_support` and `fanuc_lrmate200id_moveit_plugins`, and a new MoveIt configuration. One new package, the rest merged into the existing two packages.

which controller are you referring to?

If you submit a PR adding support for the `/7L` variant, I'll review and if it is OK, it will be merged.

[2019-09-19 05:55] jediofgever commented on #46
*  The additions for `/7L` support are added into `fanuc_lrmate200id_support` are [here](https://github.com/jediofgever/fanuc_experimental/commit/09bd42a89882158d2975c7958b5d612b9eae9d7d)
* The additions for `/7L` plugins are added under root of project `fanuc_experimental`  [here](https://github.com/jediofgever/fanuc_experimental/commit/fedd9f630356f82d51242e36afd6adcfbd894566)
* The moveit_confi

[2019-09-19 07:15] gavanderhoorn commented on #46
Please compare [fanuc_lrmate200ic_moveit_plugins](https://github.com/ros-industrial/fanuc/tree/bd3916a704f332b3616bcfc4e1f13fd013070de7/fanuc_lrmate200ic_moveit_plugins). Notice how plugins are each hosted in their own folder, and then exported in the [package.xml](https://github.com/ros-industrial/fanuc/blob/bd3916a704f332b3616bcfc4e1f13fd013070de7/fanuc_lrmate200ic_moveit_plugins/package.xml#L41

[2019-09-19 07:21] gavanderhoorn commented on #46
And a minor comment: the naming convention dictates that variant suffixes are added to series identifiers without additional spaces.

So the Fanuc LR Mate 200iD/7L would become: `fanuc_lrmate200id7l`. Not `fanuc_lrmate200id_7l`.

[2019-09-19 07:22] gavanderhoorn commented on #46
And I also noticed that you appear to have changed the `_macro.xacro` for the base model and have removed the required offset for the `base_link->base` transform (https://github.com/jediofgever/fanuc_experimental/commit/09bd42a89882158d2975c7958b5d612b9eae9d7d#diff-51ed775f9362d2026873505ebdeb1ae9).

[2019-09-19 07:26] jediofgever commented on #46
That was unintentional, and was fixed back in; https://github.com/jediofgever/fanuc_experimental/commit/d31b9d5cbb8abbf28f7640850fffa662e2230f57

[2019-09-19 07:29] jediofgever commented on #46
Thanks for your feedback, I will be working on the changes pointed out above , once ready I will send a PR

[2019-09-20 03:40] jediofgever commented on #46
I suppose the requested changes were made in this latest commit  of this [branch](https://github.com/jediofgever/fanuc_experimental/tree/feature), which includes renaming and directory restructuring. However regarding to `link_2` and `link_4`  .stl files, I could not get a response from supplier, I will try to edit them using some CAD modeling software with my very limited experience on that. Plea

[2019-09-21 16:32] gavanderhoorn commented on #46
Good to hear you got most things sorted out.

If you could submit a PR we could review and asses the state of your work.

[2019-09-23 03:27] jediofgever opened #49 "What is the precision for control of end effector ?"
Hi,
This is more a question than an issue,
when I set a goal pose for end-effector, the robot  cannot be at the goal in precision manufacturer promises. For instance in below picture;

![Screenshot from 2019-09-23 18-25-59](https://user-images.githubusercontent.com/18460336/65399080-4ec48380-dded-11e9-9843-d1878e2912f0.png)
I set goal pose for end effector as ;
[code]
However the end effector ends

[2019-09-23 05:16] jediofgever commented on #49
Sorry,  not really related to this repository, I tested robot with a simple TP program even in there robot seems to suffer to be precise on 3 decimals

[2019-09-23 05:16] #49 closed

[2019-09-23 07:37] gavanderhoorn commented on #49
There are many factors that affect the behaviour and performance of the robot here, two of which I would like to draw your attention to:

 1. accuracy vs repeatability: Fanuc (and almost all other robot mfgs) spec *repeatability*, not accuracy. You are asking the robot to move its TCP to a specific Cartesian pose, which is a task that requires accuracy. This can be done, but would require calibrat

[2019-09-23 08:25] jediofgever commented on #49
Your two points made me to have a better understanding of situation.

 In my application the robot is not supposed to perform repetitive tasks but more like perception based tasks which could lead robot's TCP to different poses each time, therefore I was seeking for the accuracy that asked in the description of issue. However the calibration step seems what I am looking for in this case.

Thank yo

[2019-10-11 14:51] jediofgever opened #51 "Add gazebo support"
Hello,

I saw that previously there was an issue regarding to the development of gazebo support and I also come to see there have been some respectively long waiting PRs but not merged into any branched.
I would like to know;
* is there any plans/willingness to include gazebo support

I am willing to collaborate and contribute to add support of gazebo.

Thank you for your time.

[2020-02-10 03:27] jediofgever opened #53 "stop() function of moveit is performing randomly"
Hi,

I am developing a desktop GUI to control my robot, there is essential functionalities and one of these is `stop` button. While testing this GUI with robot, I found out that the `stop()` function performs very randomly, sometimes it stops robot, sometimes it does not and sometimes it stops it with delay. I don't know if this is related with moveit or here, has anyone encountered this ?
Stop fu

[2020-02-27 12:20] gavanderhoorn commented on #41
Travis seems to work. Even after the migration to `travis.com` (fbccd1e3).

[2020-02-27 12:20] #41 closed

[2021-01-27 12:52] gavanderhoorn opened #60 "Import R-2000iC/125L variant from isys-vision"
@marip8: you have files for the `125L` variant in your fork in the `model/r2000ic` branch.

Would you be willing to merge those with the `fanuc_r2000ic_support` package in this repository?

I'd be mostly interested in the current state, not so much the complete commit history (to avoid repository bloat).

[2021-01-27 12:53] gavanderhoorn commented on #60
Is 9146b71e correct btw? Afaik, the default toolframe on R-2000iC/125Ls is the same as for other Fanucs.

[2021-01-27 13:41] marip8 commented on #60
Sure. I have the CAD models, but I haven't had a chance to convert them into mesh files yet. I'll see if I can do that this week. I think the URDF and associated launch/config files should be complete though.

I'm not sure. I haven't tested this on a real robot. If my URDF is different than the others in the R2000 package, I'll change it to be like existing ones until someone can try it out on har

[2021-01-27 13:44] marip8 opened #61 "OPW kinematic parameters"
Would it be beneficial to store OPW kinematic parameters in a file in the support packages for robot variants? They're not necessarily hard to set up (and the [MoveIt OPW kinematics plugin](https://github.com/JeroenDM/moveit_opw_kinematics_plugin) has some helpful sanity checks for the parameters now), but it can be a bit confusing for those not familiar with the parameters or the means of figurin

[2021-01-27 13:44] gavanderhoorn commented on #60
Ah, I now see I got confused.

I thought [marip8/fanuc_experimental/fanuc_r2000ic_support](https://github.com/marip8/fanuc_experimental/tree/d4a0e276c89f8780dcb4005ac23608c9348d4d9b/fanuc_r2000ic_support) contained the `125L` changes, but it's actually a version of the `165F`.

We already have the `165F` here, but it would indeed be great to merge the `125L`.

[2021-01-27 13:46] gavanderhoorn commented on #61
We've already done that for some support packages over in `ros-industrial/fanuc`. See https://github.com/ros-industrial/fanuc/pull/284 (and https://github.com/ros-industrial/fanuc/pull/293).

So: yes, we can do that, and we already have that in place for others.

[2021-01-27 13:47] gavanderhoorn commented on #61
Example: [fanuc_lrmate200ib_support/config/opw_parameters_lrmate200ib.yaml](https://github.com/ros-industrial/fanuc/blob/e70631ed15e3d253b7216dcd351a6d3708c84b5b/fanuc_lrmate200ib_support/config/opw_parameters_lrmate200ib.yaml)

[2021-01-27 13:52] marip8 commented on #61
Fantastic; I'll close this issue since it's already been addressed. I have the parameters for the R2000iC165F; I can add those in a PR with the 125L variant. Is there a convenient way to reference this file in a MoveIt `kinematics.yaml` file, or would this just be for reference?

[2021-01-27 13:52] #61 closed

[2021-01-27 13:59] gavanderhoorn commented on #61
Could you please submit those in a separate PR? That way we keep PRs on-topic as much as possible.

Since https://github.com/ros-planning/moveit/pull/1997 there is: in the UI of the MSA you can specify an "additional file" to load whatever parameters you need, which gets added to [planning_context.launch](https://github.com/ros-planning/moveit/pull/1997/files#diff-36ea4bbfc4da166cba5c1d266e9c64fd9

[2021-01-27 21:08] gavanderhoorn commented on #60
It looks like [isys-vision/fanuc_experimental](https://github.com/isys-vision/fanuc_experimental/tree/4ceb4c25b292363d593346ef2e7e229d432ab500) contains a version of the `125L` already (but with the wrong scale).

And a version of the `165F`.

@timobkt seems to have pushed (very) detailed meshes though. I'm not sure that was the intention.

@simonschmeisser: would you guys be willing to contribute

[2021-01-27 21:39] simonschmeisser commented on #60
sure! I'll do an internal review with Timo and then we can open a PR. The `165F` is actually the one you merged earlier, I think he just copy pasted the folder instead of your commit.

By "detailed meshes" you're probably referring to the somewhat unclear licensing of the meshes mailed from Fanuc? We'll push the convex hull as it's custom here

[2021-01-28 09:07] gavanderhoorn commented on #60
Ah, ok.

Yes.

Afaik making those available publicly is still not something they like us to do.

I'm starting to consider ignoring this though, and might release detailed models of all supported variants sometime in the future.

thanks

[2021-01-29 15:34] gavanderhoorn commented on #60
Changed the title of the issue as I believe @simonschmeisser and @timobkt have a version of the `125L` xacro already with meshes in their fork, while @marip8 would still need to convert all the meshes.

Seems like it would be less work for @simonschmeisser and @timobkt :)

[2021-02-08 11:01] gavanderhoorn commented on #60
Ping @simonschmeisser @timobkt?

[2021-02-16 17:00] akashjinandra opened #64 "Fanuc URDF transmission tags for gazebo"
Hello is it possible to add the transmission files in the urdf to allow ROS Control to function correctly in gazebo. I know alot of the open PR regarding gazebo did not pass, so is there any push to allow for that.

[2021-02-17 09:42] gavanderhoorn commented on #64
I'm not really a fan of adding Gazebo specific elements to the base URDFs.

In the PR you reference (I believe that would be #20), those elements are added by a wrapper `xacro:macro` which is hosted by a special `_gazebo` package.

We could add such a `_gazebo` package for the model you're interested in.

See the later comments on #21 fi.

[2021-02-17 19:52] #60 closed

[2021-03-01 12:17] gavanderhoorn commented on #64
I'm going to close this due to inactivity.

@akashjinandra: if you'd be interested in addressing this, please comment and we can re-open.

[2021-03-01 12:17] #64 closed

[2021-03-01 12:20] gavanderhoorn commented on #64
There appears to be some development in https://github.com/ros-industrial/fanuc_experimental/compare/kinetic-devel...BastianSolutionsRandD:200_id7l_gazebo.

It looks like this follows the approach taken in the old `ur_gazebo` package.

From a dependency management perspective, it would be better to *not* modify the base `_macro.xacro`s. Have you considered the wrapper `_gazebo` package?

[2022-02-16 22:05] demorise opened #68 "Support for crx10ial"
I have submitted a pull request to add support for the crx10ial collaborative robot.

[2022-02-23 16:29] gavanderhoorn commented on #68
Yes, that would seem to be #67.

As this is not really an issue, I'll close it.

[2022-02-23 16:29] #68 closed